.mainColumn {
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
}

.charColumn {
    border-color: black;
}

.classResourcesColumn {
    border-color: purple;
}

.hpColumn {
    border-color: red;
}

.resourcesColumn {
    border-color: green;
}

.text-red input, .text-red label {
    color: red !important;
}

.text-green input, .text-green label {
    color: green !important;
}