.mainColumn {
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
}

.hpColumn {
    border-color: red;
}

.charColumn {    
    border-color: black;
}

.resourcesColumn {
    border-color: green;
}

.classResourcesColumn {
    border-color: purple;
}